<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>RESULTADO DE LA BUSQUEDA</h1>

    <ul> 
        {% for animall in animal %}
        <li><p>Nombre:{{ animall.nombre }}</p></li>
        <li><p>Tipo de animal:{{ animall.tipo_animal }}</p></li>
                <br>
        {% endfor %}
    </ul>


</body>

</html>