<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>RESULTADO DE LA BUSQUEDA</h1>

    <ul> 
        {% for autoo in auto %}
        <li><p>Marca:{{ autoo.marca }}</p></li>
        <li><p>Modelo:{{ autoo.modelo }}</p></li>
        <li><p>Año de fabricacion: {{ autoo.anio_fabricacion }}</p></li>
                <br>
        {% endfor %}
    </ul>


</body>

</html>